In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
path = r"C:/Users/saran/OneDrive/Desktop/PatrollQ/PatrolIQ Datasets/chicago_crime_main_data_fast.csv"

df = pd.read_csv(path)
df.head(2)

,id,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,14010346,JJ466785,2025-10-25T00:00:00.000,007XX N CHRISTIANA AVE,0710,THEFT,THEFT FROM MOTOR VEHICLE,STREET,False,False,...,27.0,23.0,06,NaN,NaN,2025,2025-11-01T15:43:07.000,NaN,NaN,NaN
1,14008686,JJ464884,2025-10-25T00:00:00.000,086XX S COMMERCIAL AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,RESTAURANT,False,False,...,10.0,46.0,14,1197642.0,1848359.0,2025,2025-11-01T15:43:07.000,41.738745,-87.551456,"\n, \n(41.738744511, -87.551456283)"

In [3]:
df['date'] = pd.to_datetime(df['date'], errors='coerce', utc=False)

In [4]:
print(df['date'].dtype)
print(df['date'].head())

datetime64[ns]
0   2025-10-25
1   2025-10-25
2   2025-10-25
3   2025-10-25
4   2025-10-25
Name: date, dtype: datetime64[ns]

In [5]:
df['year'] = df['date'].dt.year
df['month'] = df['date'].dt.month
df['day'] = df['date'].dt.day
df['time'] = df['date'].dt.time
df['hour'] = df['date'].dt.hour
df['month_name'] = df['date'].dt.month_name()

In [6]:
print("Shape of data:", df.shape)         
print("\nInfo about data:")
print(df.info())

Shape of data: (500000, 27)

Info about data:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 500000 entries, 0 to 499999
Data columns (total 27 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    500000 non-null  int64
 1   case_number           500000 non-null  object
 2   date                  500000 non-null  datetime64[ns]
 3   block                 500000 non-null  object
 4   iucr                  500000 non-null  object
 5   primary_type          500000 non-null  object
 6   description           500000 non-null  object
 7   location_description  497874 non-null  object
 8   arrest                500000 non-null  bool
 9   domestic              500000 non-null  bool
 10  beat                  500000 non-null  int64
 11  district              500000 non-null  int64
 12  ward                  499999 non-null  float64
 13  community_area        499999 non-null  float64
 14  fbi_code              500000 non-null  object
 15  x_coordinate          306283 non-null  float64
 16  y_coordinate          306283 non-null  float64
 17  year                  500000 non-null  int32
 18  updated_on            500000 non-null  object
 19  latitude              306283 non-null  float64
 20  longitude             306283 non-null  float64
 21  location              306283 non-null  object
 22  month                 500000 non-null  int32
 23  day                   500000 non-null  int32
 24  time                  500000 non-null  object
 25  hour                  500000 non-null  int32
 26  month_name            500000 non-null  object
dtypes: bool(2), datetime64[ns](1), float64(6), int32(4), int64(3), object(11)
memory usage: 88.7+ MB
None

In [7]:
print("\nNumber of duplicate rows:", df.duplicated().sum())

Number of duplicate rows: 0

In [8]:
df["ward"] = df["ward"].astype("Int16")
df["community_area"] = df["community_area"].astype("Int16")
df["beat"] = df["beat"].astype("Int32")

In [14]:
df["date"] = pd.to_datetime(df["date"], dayfirst=True, errors="coerce")
df["updated_on"] = pd.to_datetime(df["updated_on"], errors="coerce")
df['time'] = pd.to_datetime(df['time'], format='%H:%M:%S', errors='coerce').dt.time

In [18]:
df['time'].dtypes

dtype('O')

In [19]:
df['time'].value_counts()

time
00:00:00    17656
12:00:00    11353
18:00:00     8266
09:00:00     8179
17:00:00     8134
            ...
06:32:00       39
05:51:00       35
06:29:00       34
16:38:18        1
14:56:45        1
Name: count, Length: 1442, dtype: int64

In [20]:
df['time_float'] = (
    df['time'].apply(lambda x: x.hour * 3600 + x.minute * 60 + x.second) / 3600
)

In [21]:
df['time_float']

0          0.000000
1          0.000000
2          0.000000
3          0.000000
4          0.000000
            ...
499995    19.683333
499996    19.650000
499997    19.633333
499998    19.633333
499999    19.600000
Name: time_float, Length: 500000, dtype: float64

In [22]:
print("\nData types before:")
print(df.dtypes)

Data types before:
id                               int64
case_number                     object
date                    datetime64[ns]
block                           object
iucr                            object
primary_type                    object
description                     object
location_description            object
arrest                            bool
domestic                          bool
beat                             Int32
district                         int64
ward                             Int16
community_area                   Int16
fbi_code                        object
x_coordinate                   float64
y_coordinate                   float64
year                             int32
updated_on              datetime64[ns]
latitude                       float64
longitude                      float64
location                        object
month                            int32
day                              int32
time                            object
hour                             int32
month_name                      object
time_float                     float64
dtype: object

In [23]:
df['ward'].iloc[1:5]

1    10
2    50
3    46
4     2
Name: ward, dtype: Int16

In [28]:
print("\nMissing values per column:")
print(df.isnull().sum())

Missing values per column:
id                      0
case_number             0
date                    0
block                   0
iucr                    0
primary_type            0
description             0
location_description    0
arrest                  0
domestic                0
beat                    0
district                0
ward                    0
community_area          0
fbi_code                0
x_coordinate            0
y_coordinate            0
year                    0
updated_on              0
latitude                0
longitude               0
location                0
month                   0
day                     0
time                    0
hour                    0
month_name              0
time_float              0
dtype: int64

In [25]:
df["ward"].fillna(df["ward"].median(), inplace=True)
df["community_area"].fillna(df["community_area"].median(), inplace=True)
df["x_coordinate"].fillna(df["x_coordinate"].median(), inplace=True)
df["y_coordinate"].fillna(df["y_coordinate"].mean(), inplace=True)
df["latitude"].fillna(df["latitude"].median(), inplace=True)
df["longitude"].fillna(df["longitude"].mean(), inplace=True)

C:\Users\saran\AppData\Local\Temp\ipykernel_7452\1702534931.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["ward"].fillna(df["ward"].median(), inplace=True)
C:\Users\saran\AppData\Local\Temp\ipykernel_7452\1702534931.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["community_area"].fillna(df["community_area"].median(), inplace=True)
C:\Users\saran\AppData\Local\Temp\ipykernel_7452\1702534931.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["x_coordinate"].fillna(df["x_coordinate"].median(), inplace=True)
C:\Users\saran\AppData\Local\Temp\ipykernel_7452\1702534931.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["y_coordinate"].fillna(df["y_coordinate"].mean(), inplace=True)
C:\Users\saran\AppData\Local\Temp\ipykernel_7452\1702534931.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["latitude"].fillna(df["latitude"].median(), inplace=True)
C:\Users\saran\AppData\Local\Temp\ipykernel_7452\1702534931.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["longitude"].fillna(df["longitude"].mean(), inplace=True)

In [29]:
for col in ["location_description", "location"]:
    df[col].fillna(df[col].mode()[0], inplace=True)

In [30]:
df.columns

Index(['id', 'case_number', 'date', 'block', 'iucr', 'primary_type',
       'description', 'location_description', 'arrest', 'domestic', 'beat',
       'district', 'ward', 'community_area', 'fbi_code', 'x_coordinate',
       'y_coordinate', 'year', 'updated_on', 'latitude', 'longitude',
       'location', 'month', 'day', 'time', 'hour', 'month_name', 'time_float'],
      dtype='object')

In [31]:
df["longitude"].iloc[1:5]

1   -87.551456
2   -87.668707
3   -87.668707
4   -87.668707
Name: longitude, dtype: float64

In [16]:
""" numeric_cols = ["beat", "ward", "community_area", "x_coordinate", "y_coordinate", "latitude", "longitude"]

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    lower = Q1 - 1.5 * IQR
    upper = Q3 + 1.5 * IQR
    df = df[(df[col] >= lower) & (df[col] <= upper)]   """

' numeric_cols = ["beat", "ward", "community_area", "x_coordinate", "y_coordinate", "latitude", "longitude"]\n\nfor col in numeric_cols:\n    Q1 = df[col].quantile(0.25)\n    Q3 = df[col].quantile(0.75)\n    IQR = Q3 - Q1\n    lower = Q1 - 1.5 * IQR\n    upper = Q3 + 1.5 * IQR\n    df = df[(df[col] >= lower) & (df[col] <= upper)]   '

In [32]:
df.shape

(500000, 28)

In [33]:
df.dropna(subset=["date"], inplace=True)

In [34]:
df.sort_values("date", inplace=True)

In [35]:
print("\n✅ Final Data Info:")
print(df.info())
print("\nSummary statistics:")

✅ Final Data Info:
<class 'pandas.core.frame.DataFrame'>
Index: 500000 entries, 499999 to 0
Data columns (total 28 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    500000 non-null  int64
 1   case_number           500000 non-null  object
 2   date                  500000 non-null  datetime64[ns]
 3   block                 500000 non-null  object
 4   iucr                  500000 non-null  object
 5   primary_type          500000 non-null  object
 6   description           500000 non-null  object
 7   location_description  500000 non-null  object
 8   arrest                500000 non-null  bool
 9   domestic              500000 non-null  bool
 10  beat                  500000 non-null  Int32
 11  district              500000 non-null  int64
 12  ward                  500000 non-null  Int16
 13  community_area        500000 non-null  Int16
 14  fbi_code              500000 non-null  object
 15  x_coordinate          500000 non-null  float64
 16  y_coordinate          500000 non-null  float64
 17  year                  500000 non-null  int32
 18  updated_on            500000 non-null  datetime64[ns]
 19  latitude              500000 non-null  float64
 20  longitude             500000 non-null  float64
 21  location              500000 non-null  object
 22  month                 500000 non-null  int32
 23  day                   500000 non-null  int32
 24  time                  500000 non-null  object
 25  hour                  500000 non-null  int32
 26  month_name            500000 non-null  object
 27  time_float            500000 non-null  float64
dtypes: Int16(2), Int32(1), bool(2), datetime64[ns](2), float64(5), int32(4), int64(2), object(10)
memory usage: 90.1+ MB
None

Summary statistics:

In [36]:
print(df.describe(include="all"))

                  id case_number                           date  \
count   5.000000e+05      500000                         500000
unique           NaN      499943                            NaN
top              NaN    JJ309322                            NaN
freq             NaN           4                            NaN
mean    1.360457e+07         NaN  2024-10-20 18:01:21.336486144
min     2.781900e+04         NaN            2023-10-26 19:36:00
25%     1.344577e+07         NaN            2024-04-27 16:28:45
50%     1.363064e+07         NaN            2024-10-09 18:00:00
75%     1.381971e+07         NaN            2025-04-24 12:18:45
max     1.401572e+07         NaN            2025-10-25 00:00:00
std     6.600373e+05         NaN                            NaN

                   block    iucr primary_type description  \
count             500000  500000       500000      500000
unique             32419     350           31         328
top     001XX N STATE ST    0486        THEFT      SIMPLE
freq                1317   39254       116453       61612
mean                 NaN     NaN          NaN         NaN
min                  NaN     NaN          NaN         NaN
25%                  NaN     NaN          NaN         NaN
50%                  NaN     NaN          NaN         NaN
75%                  NaN     NaN          NaN         NaN
max                  NaN     NaN          NaN         NaN
std                  NaN     NaN          NaN         NaN

       location_description  arrest domestic  ...  \
count                500000  500000   500000  ...
unique                  135       2        2  ...
top                  STREET   False    False  ...
freq                 136306  427657   407337  ...
mean                    NaN     NaN      NaN  ...
min                     NaN     NaN      NaN  ...
25%                     NaN     NaN      NaN  ...
50%                     NaN     NaN      NaN  ...
75%                     NaN     NaN      NaN  ...
max                     NaN     NaN      NaN  ...
std                     NaN     NaN      NaN  ...

                           updated_on       latitude      longitude  \
count                          500000  500000.000000  500000.000000
unique                            NaN            NaN            NaN
top                               NaN            NaN            NaN
freq                              NaN            NaN            NaN
mean    2025-05-16 04:13:53.825101824      41.854438     -87.668707
min               2023-11-03 15:41:45      41.644590     -87.939733
25%               2024-12-21 15:40:46      41.822845     -87.676433
50%               2025-05-17 15:40:52      41.865518     -87.668707
75%               2025-11-01 15:41:48      41.881960     -87.649392
max               2025-11-01 15:43:07      42.022559     -87.524531
std                               NaN       0.068649       0.045941

                                    location          month            day  \
count                                 500000  500000.000000  500000.000000
unique                                139856            NaN            NaN
top     \n,  \n(41.883500187, -87.627876698)            NaN            NaN
freq                                  194131            NaN            NaN
mean                                     NaN       6.601538      15.632244
min                                      NaN       1.000000       1.000000
25%                                      NaN       4.000000       8.000000
50%                                      NaN       7.000000      16.000000
75%                                      NaN       9.000000      23.000000
max                                      NaN      12.000000      31.000000
std                                      NaN       3.376431       8.876745

            time           hour month_name     time_float
count     500000  500000.000000     500000  500000.000000
unique      1442            NaN         12            NaN
top     00:00:00            NaN       July            NaN
freq       17656            NaN      46578            NaN
mean         NaN      12.508168        NaN      12.843777
min          NaN       0.000000        NaN       0.000000
25%          NaN       8.000000        NaN       8.000000
50%          NaN      13.000000        NaN      13.750000
75%          NaN      18.000000        NaN      18.500000
max          NaN      23.000000        NaN      23.983333
std          NaN       6.836048        NaN       6.863008

[11 rows x 28 columns]

In [37]:
df.to_csv("last_partrollq_data_clean.csv", index=False)
print("\nCleaned dataset saved as 'crime_data_clean.csv'")

Cleaned dataset saved as 'crime_data_clean.csv'